body {
    text-align: center;
}

.titre {
    text-align: center;
}

.line1 {
    border-bottom: 1px #8399E6 solid;
    width: 1000px;
    margin: auto;
}

.line3 {
    border-bottom: 1px #8399E6 solid;
    width: 500px;
    margin: auto;
}

img {
    height: 60px;
    height: 60px;
    margin-top: 15px;
}

span img {
  margin-top: 1.5px;
  margin-left: 5px;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

button {
    width: 250px;
    border: none;
    cursor: pointer;
}


input {
    width: 250px;
}

a {
    text-decoration: none;
    color: black;
}

#mdp1 {
  margin-left: 25px;
}





/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 3;} 
  to {opacity: 5;}
}

@keyframes fadeIn {
  from {opacity: 3;}
  to {opacity:5 ;}
}

/* container */


  .seco {
    border: 1px black solid;
    border-radius: 20px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    padding: 15px 50px;
    margin: 0 auto;
  }
  .seco span {
    position: relative;
    z-index: 1;
  }
  .seco:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #8399E6;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .seco:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }